* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

h2 {
	color: lightblue;
	text-align: center;
	margin: 430px;
	text-shadow: 0 0 5px #eee;
}
